header
	div(id="notice")
		p Tracking: 
			span(class="tags") You might want to enable javascript
			span &nbsp;for 
			span(class="time") this part
			span .&nbsp;
			a#done(href="#done") Done!

h1= title
p Welcome to #{title}
br
ul
	- data.forEach(function(item) {
		li #{item}
	- })

label(for='work[tags]') Tags, comma separated
form#items-form(action='/', method='post', onsubmit="startTime(); return false;")
	input(type='hidden', name='work[tID]', value=tID)
	input#tags(type='text', name='work[tags]', placeholder='E.g. Research, red-neuron, ux', autofocus)
	input#submit(type='submit', value='Start tracking')
