!!! 5
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
	body!= body
	
		script(src="//ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js")
		//fix this later
		script(src='/javascripts/libs/jquery-1.5.2.min.js')
		script(src='/javascripts/libs/highcharts/js/highcharts.js')
		script(src='/javascripts/libs/raphael-min.js')
		script(src='/javascripts/libs/g.raphael-min.js')
		script(src='/javascripts/libs/g.line-min.js')
		script(src="/javascripts/scripts.js")
		script(src="/javascripts/"+page+".js")