header
	div(id="notice", class="notice")
		p Tracking: 
			span(class="tags") You might want to enable javascript
			span &nbsp;for 
			span(class="time") this part
			span .&nbsp;
			a#done(href="#done") Done!